{% extends 'header.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Academy Student Portal System</title>
</head>
<body>
{% block content %}
<div class="container" style="background-color:grey;margin-top:20px">
    <center>
    <div class="jumbotron" style="background-image: url({% static 'img/why_1.jpg' %})">
        <h3>CONTACT</h3>

    </div>
</center>
    <div class="card">
        <div class="jumbotron" style="padding-left:30px;padding-top:20px;width:250px"><center>HEAD OFFICE:</center>
            <hr> Sure Lere, Lagos, Nigeria</div>
            <div class="jumbotron" style="padding-left:30px;padding-top:20px;width:250px;margin-top:-164px;margin-left:257px">
                <center>BRANCH OFFICE: </center><hr>4 Udoudoma Avenue, Uyo, Akwa Ibom State, Nigeria</div>
        <div class="jumbotron" style="padding-left:30px;padding-top:20px;width:250px;margin-top:-50px;"><center>PHONE:
            <hr>+23489499390049 +23489499390049 </center></div>
        <div class="jumbotron"  style="padding-left:30px;padding-top:20px;width:250px;margin-top:-164px;margin-left:257px">
            <center>EMAIL:
            <hr>example@gmail.com</center></div>
        <div class="jumbotron" style="padding-left:10px;padding-top:-200px;margin-top:-30px"><center>WEBSITE:
        www.egsite.com</center>
        </div>

    <div class="card" style="width:500px;background-image: url({% static 'img/bg_2.jpg' %});margin-top:px">
    <form style="padding-left:15px;padding-top:20px" method="POST" action="">
    {% csrf_token %}
        <p >{{comment.name.label_tag}} {{comment.name}}</p>
        <p style="margin-left:250px;margin-top:-50px">{{comment.email.label_tag}} {{comment.email}}</p>
        <p >{{comment.comment.label_tag}} {{comment.comment}}</p>
    <center><input type="submit" class="btn btn-success" value="submit/view comment"></center>
    </form>
        </div>
</div>

{% endblock %}
</div>
</body>
</html>